<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <div class="navbar-header">
            <div class="title-logo-wrappers">
                <a *ngIf="token" class="navbar-brand" routerLink="/solicitud" title="Appleseed">
                    <img src="./assets/logotipoApple.png" alt="Appleseed">
                </a>
                <a  *ngIf="!token" class="navbar-brand" routerLink="/" title="Appleseed">
                    <img src="./assets/logotipoApple.png" alt="Appleseed">
                </a>
            </div>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div *ngIf="token" class="nav navbar-nav navbar-right" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item" [routerLinkActive]="['active']">
                    <a class="nav-link" routerLink="/solicitud">Nueva solicitud</a>
                </li>
                <li class="nav-item" [routerLinkActive]="['active']">
                    <a class="nav-link" routerLink="/solicitudes">Todas las solicitudes</a>
                </li>
                <li class="nav-item" [routerLinkActive]="['active']">
                    <a class="nav-link" routerLink="/estadisticas">Estadísticas</a>
                </li>
                <!-- <div class="circle-badge">
                   <a routerLink="/estadisticas"><strong>10</strong></a>
                </div> -->
                <li class="nav-item dropdown">
                    <a class="" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img src="./assets/icono-logo.png" class="avatar avatar-75 photo" style="vertical-align: middle;" width="60" height="60">
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" routerLink="/mi-cuenta">Mi cuenta</a>
                        <a class="dropdown-item" (click)="logOut()">Salir</a>
                    </div>
                </li>
            </ul>
        </div>
        
        <div *ngIf="!token" class="nav navbar-nav navbar-right" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item" [routerLinkActive]="['active']">
                    <a class="nav-link" routerLink="/solicitud">Home</a>
                </li>
                <li class="nav-item" [routerLinkActive]="['active']">
                    <a class="nav-link" routerLink="/solicitudes">Contacto</a>
                </li>
                <li class="nav-item" [routerLinkActive]="['active']">
                    <a class="nav-link" routerLink="/estadisticas">Ayuda Jurídica gratuita</a>
                </li>
                <li class="nav-item" [routerLinkActive]="['active']">
                    <a class="nav-link" routerLink="/estadisticas">Registro/Login</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img src="./assets/icono-logo.png" class="avatar avatar-75 photo" style="vertical-align: middle;" width="60" height="60">
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown.item">Hola Mundo</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Body de la pagina -->
<router-outlet></router-outlet>  

<!-- Footer -->
<footer class="footer footer-black footer-big">
    <div class="container">
        <div class="hestia-bottom-footer-content">
        <div class="hestia-bottom-footer-content">
            <div class="row">
            <div class="col-sm text-left">
                <a href="">
                <img class="logo-blanco" src="../assets/logo-en-blanco.png">
                </a>
            </div>
            <div class="col-sm text-right texto-copy">
                <a class="textos-centrales">Copyright © Appleseed 2018</a>
            </div>
            </div>
        </div>
        </div>
    </div>
</footer>

